---
---
@charset "utf-8";

// Our variables
$base-font-family: "Consolas", Helvetica, Arial, sans-serif;
$base-font-size:   12px;
$medium-font-size: 13px;
$base-font-weight: normal;
$base-line-height: 1.5;

$spacing-unit:     24px;

$color-text:       #000;
$color-text-light: #606060;
$color-background: #fff;


// Width of the content area
$content-width:    475px;

$on-palm:          600px;
$on-laptop:        800px;

$underline-colors: (
  green: #3CF600,
  yellow: #EDF13A,
  cyan: #3ADDF1,
  purple: #FF94E1,
  red: #FF9B9B
);



@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "utilities",
        "syntax-highlighting"
;
