/**
 * Site header
 */

 .site-title {
   font-size: 13px;
   text-decoration: none;
   color: inherit;
 }

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 18px;
}

.post-list {
    margin-top: $spacing-unit;
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit / 2;
        display: flex;
    }
}

.post-link {
  font-size: $medium-font-size;
  font-weight: bold;
  flex: 1;

  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit / 2;
}

.post-title {
    font-size: 16px;
}

.post-content {
    margin-bottom: $spacing-unit;
}
