/**
 * Site header
 */
 .site-title {
   font-size: $font-size-base;

   .underline:after {
     display: none;
   }

   &:hover {
     .underline:after {
       display: block;
     }
   }
 }

 .site-title-home {
   font-size: $font-size-large;
 }

 .hr {
   margin-bottom: $spacing-unit / 2;
 }

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.post-list {
  margin-top: $spacing-unit;
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit / 2;
    display: flex;
  }
}

.post-link {
  font-weight: bold;
  flex: 1;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit / 2;
}

.post-title {
  font-size: $font-size-large;
}

.post-content {
  margin-bottom: $spacing-unit;
}
