.text-center {
  text-align: center;
}

.text-muted {
  color: $color-text-light;
}

.underline {
  display: inline-block;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    display: block;
    z-index: -1;
    width: 100%;
    height: 0.45em;
    margin-top: -0.65em;
    margin-left: 0.2em;
  }
}

@each $name, $underline-color in $underline-colors {
  .underline-#{$name} {
    &:after {
      background: $underline-color;
    }
  }
}
